{%extends "base.html"%} 

{%block content%}
<div class="content container">
  <div class="row align-items-center justify-content-center">
    <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 mb-3 mb-md-2">
      <h1>{{ todo.title }}</h1>
      {% if todo.desc != '' %}
      <p>{{ todo.desc }}</p>
      {% endif %} {% if todo.deadline != None and todo.complited != True %}
      <p>Срок: {{ moment(todo.deadline).format('LLLL') }}</p>
      {% endif %}
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-3 mb-md-2">
      {% if todo.completed == False %}
      <a
        class="btn btn-secondary"
        href="{{ url_for('edit_todo', id=todo.id) }}"
        title="Edit todo"
      >
        <i
          class="bi bi-pencil-square"
          style="font-size: 1.5rem"
          href="{{ url_for('edit_todo', id=todo.id) }}"
        >
        </i>
      </a>
      <a
        class="btn btn-success"
        href="{{ url_for('todo_finished', id=todo.id) }}"
        title="Mark todo as completed"
      >
        <i
          class="bi bi-check"
          style="font-size: 1.5rem"
          href="{{ url_for('todo_finished', id=todo.id) }}"
        >
        </i>
      </a>
      {% endif %} {% if todo.completed == True %}
      <p>Завершено: {{ moment(todo.completed_time).format('LLLL') }}</p>
      <a
        class="btn btn-dark"
        href="{{ url_for('todo_uncompleted', id=todo.id) }}"
        title="Return todo"
      >
        <i
          class="bi bi-reply-fill"
          style="font-size: 1.5rem"
          href="{{ url_for('todo_uncompleted', id=todo.id) }}"
        >
        </i>
      </a>
      {% endif %}
      <a
        class="btn btn-dark"
        href="{{ url_for('delete_todo', id=todo.id) }}"
        title="Delete todo"
      >
        <i
          class="bi bi-x"
          style="font-size: 1.5rem"
          href="{{ url_for('delete_todo', id=todo.id) }}"
        >
        </i>
      </a>
    </div>
  </div>
</div>
{%endblock%}
